.habilitacionTitle{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:red;
}

.description-habilitacion{
    margin-top: 75px;
    text-align: justify;
    font-size: 28px;
}
