.h-habilitacion{
    height: 100%;
}

.title-habilitacion{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:red;

    @media screen and (min-width: 350px) and (max-width: 992px){
        font-size: 40px;
        margin-top: 80px;
    }
}

.SubTitle-Hab{
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:red;

    @media screen and (min-width: 350px) and (max-width: 992px){
        font-size: 35px;
        margin-top: 10px;
    }
}

.description-habilitacion{
    margin: 15px;
    font-size: 25px;
    word-spacing: 5px;

    @media screen and (min-width: 350px) and (max-width: 992px){
        font-size: 20px !important;
        margin-top: 30px !important;
        word-spacing: 0px;
        text-align: center;
    }

}

.li-hab{
    font-size: 25px;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover{
        color: red;
    }

    @media screen and (min-width: 350px) and (max-width: 992px){
        font-size: 18px;
    }
}

.icon-hab{
    color: red;
    font-size: 25px;
}
