@font-face {
    font-family: 'Parisienne', cursive;
    src: url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

    font-family: 'Beau Rivage', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap')
}


.m-nav{
    margin-top: 75px;
}

.bg-hys{
    margin-top: 70px;
    background-image: url('https://github.com/joseguti99/DB-IMG-PUBLIC/blob/main/higiene-seguridad-app/hys-solutions-png.jpg?raw=true');
    background-repeat: no-repeat;
    background-position: 0px;
    height: 35rem;
}

.h-header{
    padding-top: 50px;
    padding-bottom: 50px;
}

.fontName{
    font-family: 'Parisienne', cursive;
    font-size: 80px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bolder;
    color:red;
}
.lic-hys{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.font-description{
    font-size: 20px;
    letter-spacing: 3px;
    margin: 15px;
    text-align: center;
}

.bg-space{
    background-color:#e5e5e5ce;
    padding-top: 14px;
    padding-bottom: 14px;
}

.bg-gray{
    background-color:#e5e5e5ce;
}

.container-flex{
    display: flex;
}
.container-img{
    display: flex;
    width: 100%;
    height: 78vh;

    @media screen and (min-width: 350px) and (max-width: 992px){
        height: 40vh;
    }
}
.img-flex{
    justify-content: center;
    width: 100%;
    height: auto;
}
.gMaps{
    width: 100%;
    height: 300px
}
.font-contact{
    font-size: 30px;
    font-weight: bold;
}
